global
    daemon
    maxconn 1024
    log stdout local0 info
    lua-load /etc/haproxy/svc.lua
defaults
    mode http
    timeout connect 5s
    timeout client  60s
    timeout server  60s
    option http-buffer-request
    log global

frontend fe
    bind *:8000
    http-request use-service lua.upload if { path /upload }
    http-request return status 200 content-type "application/json" string '{"ok":true}' if { path /health }
    http-request return status 404 content-type "text/plain" string "not found"
